
// apptainer.enabled = true
// apptainer.autoMounts = true
// apptainer.cacheDir = "images"

docker.enabled = true
docker.runOptions = '-u \$(id -u):\$(id -g)'

// define parameters
params {
    samples_path = "${launchDir}/data"
    ref_path = "${launchDir}/genome_reference"
    outdir = "${launchDir}/results"
}

// define profiles
profiles {

    test {
        process.executor = 'local'
        params {
            samples_path = "./assets/test"
            ref_path     = "./assets/test"
            outdir       = "./test_results"
        }
        
    }

    local {
        process.executor = 'local'

        singularity {
            enabled    = true
            autoMounts = true
        }
    }

    hpc {
        process.executor = 'slurm'

        process {
            cpus   = 4
            memory = 8.GB
            time   = 1.h
        }

        singularity {
            enabled    = true
            autoMounts = true
        }
    }
}



// define env variables
process {
    executor = 'local'
}

// env {
//     APPTAINER_TMPDIR  = "${System.getenv('VSC_SCRATCH')}/.apptainer_tmp"
//     APPTAINER_CACHEDIR = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"
// }

// env {
//     NXF_APPTAINER_TMPDIR  = "${'VSC_SCRATCH'}/.apptainer_tmp"
//     NXF_APPTAINER_CACHEDIR = "${'VSC_SCRATCH'}/.apptainer_cache"
// }