// DEFINE PARAMETERS
params {
    samples_path = "./data"
    ref_path = "./genome_reference"
    outdir = "${launchDir}/results"
}

// EXECUTION PROFILES
profiles {
    
    test {
        params {
            samples_path = "./test_data"
            ref_path     = "./test_data"
            outdir       = "${launchDir}/test_results"
        }
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    apptainer {
        apptainer.enabled  = true
        apptainer.autoMounts  = true
        apptainer.runOptions = '-u $(id -u):$(id -g)'
    }

    hpc {
        apptainer.enabled = true
        apptainer.autoMounts  = true
        apptainer.cacheDir = "${System.getenv('VSC_SCRATCH')}/.apptainer_cache"

        process {
            executor = 'slurm'
            cpus   = 8
            memory = 16.GB
            time   = 1.h
        }
        env {
            APPTAINER_TMPDIR  = "${System.getenv('VSC_SCRATCH')}/.apptainer_tmp"
        }

    }

}


